@{
	ViewData["Title"] = "Home Page";
}
@model PdfCertificado.Models.User;




<div class="row d-flex justify-content-between ">
	<h1 class="text-center mt-5">Bem vindo</h1>

	<div class="col-sm-4">
		<form asp-action="Index">
			<div class="form-group">
				<h3>Se cadastre</h3>
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<button type="submit" value="Create" class="btn btn-primary mt-4">Cadastrar</button>

			</div>
		</form>
	</div>
	<div class="col-sm-2 mt-5">

		<img src="imgs/pdf-icon.png" alt="imagem" />

	</div>
	<div class="col-sm-4">
		<form asp-action="Logar" method="post">
			<div class="form-group">
				@{
					if (TempData["mensagemErro"] != null)
					{
						<div class="field-error">
							<h4><strong>@TempData["mensagemErro"]</strong></h4>
						</div>
						<div class="field-error">
							<h3><strong>@TempData["UsuarioLogado"]</strong></h3>
						</div>
						<p>
							<a asp-action="Logout">Logout session</a>
						</p>
					}
				}

				<h3>Faça Login</h3>
				<div class="form-label-group">
					<input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
					<label for="username">Digite seu usuário</label>
				</div>

				<div class="form-label-group">
					<input type="password" id="senha" name="senha" class="form-control" placeholder="Password" required>
					<label for="senha">Password</label>
				</div>

				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="customCheck1" name="manterlogado">
					<label class="custom-control-label" for="customCheck1">Manter Logado?</label>
				</div>

				<button type="submit" class="btn btn-primary mt-2">Login</button>

			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

