@{
	ViewData["Title"] = "Home Page";
}
@model PdfCertificado.Models.User;

<div class="row d-flex justify-content-between ">
	<h1 class="text-center mt-5">Bem vindo</h1>

	<div class="col-sm-4">
		<form asp-action="Index">
			<div class="form-group">
				<h3>Se cadastre</h3>
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<div class="form-group">
					<label for="formFile" class="form-label mt-4">Entre um arquivo pdf</label>
					<input class="form-control" type="file" id="formFile">
				</div>
				<button  type="submit" value="Create" class="btn btn-primary mt-4">Cadastrar</button>

			</div>
		</form>
	</div>
	<div class="col-sm-2 mt-5">

		<img src="imgs/pdf-icon.png" alt="imagem" />

	</div>
	<div class="col-sm-4">
		<form asp-action="Create">
			<div class="form-group">
				<h3>Faça Login</h3>
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<button type="submit"  class="btn btn-primary mt-2">Login</button>
			</div>
		</form>

	</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@{
	/*
			<div class="row">
				<div class="col-sm-4">
			</div>
	</div>
	*/
}

