@model IEnumerable<PdfCertificado.Models.Services.FIleName>

@using System.IO;
@using PdfCertificado.Models.Services;
@{
	ViewData["Title"] = "Pdfview";
}


<div class="field-error mt-5">
	<h3>Bem vindo <strong>@TempData["UsuarioLogado"]</strong></h3>
</div>
<h5>
	<a asp-action="Logout">Logout session</a>
</h5>
<div class="text-center">
	<h4 class="mt-5"> <a asp-action="CreateCert">Cadastre seu Certificado digital</a></h4>
	@if (TempData["SemCertificado"] != null)
	{
		<div class="field-error mt-5">
			<h3><strong>@TempData["SemCertificado"]</strong></h3>
		</div>
	}

	<h4 class="mt-5"> Cadastre seu pdf</h4>
	<form class="mb-5" method="post" asp-action="PdfUpload" asp-controller="Users" enctype="multipart/form-data">
		<input type="file" name="files" multiple />
		<input type="submit" value="Upload" />
	</form>
</div>


<table class="table">
	<thead>
		<tr>
			<th>
				<h4>Arquivos Disponiveis</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem=> item.FileName)
				</td>
				<td>
					<a href="../Users/Delete?file=@item.FileName.ToString()"><button type="button" class="btn btn-danger">Excluir</button></a>
				</td>
			</tr>
		}
	</tbody>
</table>
